<div class="ui middle aligned divided list">
  <a *ngFor="let book of [0, 1, 2]; index as i" class="item">
    <img class="ui tiny image" src="https://ng-buch.de/angular-cover.jpg" alt="book-cover-image">
    <div class="middle aligned content">
      <h3 class="ui header">Angular</h3>
      <span class="description">Grundlagen, fortgeschrittene Themen und Best Practises</span>
    </div>
    <div class="meta">
      <span>Ferdinand Malcher, Johannes Hoppe, Danny Koppenhagen</span>
      <span>ISBN: 9783864907791</span>
    </div>
  </a>


</div>
